{% if request.user.is_authenticated %}
	<p>{{request.user}}</p>
	<a href="{% url 'logout' %}"> Logout </a>
{% else %}
	<a href="{% url 'login' %}"> Login </a>
{% endif %}

<hr>
<h1> My Food List </h1>
<a href="{% url 'food-create' %}"> Add Foods </a>

<form method="GET">
	<input type="text" name="search-area" value="{{search_input}}">
	<input type="submit" value="Search">
</form>


<table>
	<tr>
		<th> Food </th>
		<th> </th>
		<th> </th>
	</tr>
	{% for food in foods %}
	<tr>
		<td> {{food.title}} </td>
		<td> <a href="{% url 'food' food.id %}"> View </a> </td>
		<td> <a href="{% url 'food-update' food.id %}"> Edit </a></td>
		<td> <a href="{% url 'food-delete' food.id %}"> Delete</td>
	</tr>	
	{% empty %}
		<h3> No items in list </h3>
	{% endfor %}

</table>

<a href="{% url 'best-food' %}"> New Suggested Food</a>